.hero {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
}

.zone {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 33.33%;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.zone.left {
  left: -1.56%;
}

.zone.center {
  left: 36%;
  transform: translateY(-18%);
  scale: 0.93;
}

.zone.right {
  right: -1.3%;
}

.man {
  width: 70%;
  max-width: 600px;

  transform: translateY(10%);

  object-fit: contain;
  opacity: 0.95;
  transition: all 0.3s ease;
}

.zone.left .man {
  transform: translateY(-26%) scale(1.5);
}

.zone.right .man {
  transform: translateY(-28.5%) scale(1.32);
}
